go 1.18

use (
	./algorithms
	./arrayalgorithm
	./cmd
	./ecomm
	./golog
	./ioc/mux
	./logger
	./rest/cmd
	./rest/model
	./rest/routes
	./restwgin/main
	./restwgin/model
	./restwgin/nroutes
	./hackerrank
)
